body{
    margin:0;
    padding:0;
}
.container-fluid{
    background: url('../Images/background.png');
    height:100vh;
}
.tsk-sub-conatiner{
    background-color: grey;
    color:black;
    padding:10px;

}
.task-container{
    padding:10%;
}
table {
    width:100%;
    background: white;
    border:1px solid white;
}
table td{
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
table td span {
    padding:5px;
    background: skyblue;
    margin: 0 5px;
}
.action-buttons {
    background: white;
    padding: 10px;
    text-align: center;
} button {
    background: transparent;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,.6), 1px 1px 3px white;
    color:rgba(0,0,0,.6)
}
/* Tags */
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}
